body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #051a1f6e;
}

  body > div{
    margin: 5px;
  }

  #top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    border: 5px solid;
    background-color: #3E7482;
    width: 100%;
  }

  #left{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: solid;
    background-color:#3E7482;
    height: 100vh;
    width: 100px;

  }

  #right{
    display: flex;
    flex-grow: 5;
    border: solid;
    background-color:#05252F;
    height: 100vh;
    width: 100px;

  }


  .top-cats{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-left: 5px solid;
    border-color: #363636 ;
    background-color:#FFD3B5;
    color: white;
    width: 180px;

  }
  .top-cats-buttons{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
    padding: 15px;
    cursor: pointer;
    background-color:#198881;
  }
