:root {
  --sage: #D2CCA1;
  --paleSpringBud: #DEDABA;
  --goldCrayola: #ffffff;/*main*/
  --richBlackForeground: #181a1b;
  --white: #ffffff;
  --black: rgb(0, 0, 0);
  --msuGreen: #272620;/*main*/
  --gray: #eee;
  --leftblue:#2AB7CA;
  --lefbluedark:rgb(87, 77, 59);
  --topleftcats:#92bde7;
  --topleftcatsdark:#2F3338;
  --topcats:#FED766 ;
  --topcatsdark:#2F3338 ;
  --right: #e4e4e4;
  --rightdark: #2F3338;
}


.light-theme {
  
  --themeIconBorderColor: var(--sage);
  --mainBg: var(--goldCrayola);
  --fontColor: var(--black);
  --themeSwitchColor: var(--sage);
  --top:var(--leftblue);
  --topleftcast:var(--topleftcats);
  --topcatts:var(--topcats);
  --rightt:var(--right);
}

.dark-theme {
  
  --themeIconBorderColor: var(--richBlackForeground);
  --mainBg: var(--msuGreen);/*main*/
  --fontColor: var(--white);
  --themeSwitchColor: var(--msuGreen);
  --top:var(--lefbluedark);
  --topleftcast:var(--topleftcatsdark);
  --topcats:var(--topcatsdark);
  --right:var(--rightdark);
}



* {
  color: var(--fontColor);
  
}



.switch {
  margin-left:inherit;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  
}



.switch div {
  position: relative;
  display: block;
  background: #c4e9fa;
  width: 50px;
  border-radius: 20px;
  padding: 1px 8px;
  box-sizing: border-box;
  cursor: pointer;
  
}

.fa-adjust {
  transform: rotate(25deg);
  
}

.switch input {
  display: none;
}

.slider {
  background-color: rgb(151, 138, 129);
  transition: 0.7s;
  border-radius: 50px;
  height: 12px;
  width: 12px;
  display: inline-block;
  position: relative;
  background-color: var(--themeSwitchColor);
}

input:checked + .slider {
  transform: translateX(20px);
}




body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #9bc7db;
}

body > div{
  margin: 5px;
}

#top{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  border: 5px solid;
  background-color: #3E7482;
  width: 100%;
  background: var(--top);
}

#left{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: solid;
  background-color:#3E7482;
  height: match-parent;
  width: 100px;
  background: var(--top);


}

#right{
  display: flex;
  flex-grow: 5;
  border: solid;
  /* align-items: center; */
  justify-content: center;
  background-color:#05252F;
  height: 100%;
  width: 100px;
  background-color: var(--rightt);


}


.top-cats{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid;
  border-color: #363636 ;
  background-color:#ffffff;
  /* color: white; */
  width: 200px;
  overflow: hidden;

}
.top-cats-buttons{
  
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  text-align:center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 28px;
  /* padding: 0px; */
  cursor: pointer;
  background-color:#198881;
  background-color: var(--topcats);


}

.left-cats{
  background-color: #768a50 ;
  border: 3px solid;
  border-color: black;
  padding: 35px 55px;
  text-align: center;
  font-size: 16px;
  opacity: 0.85;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  margin-right: 0%;
  background: var(--topleftcast);

}
.left-cats-btn:hover {opacity: 1}
.left-cats-btn:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}


.right-editor{
  display: flex;
  background-color: #ffffff;
  /* position: absolute; */
  /* flex-direction: column; */
  justify-content: center;
  height: 864px;
  /* left: 0px; */
  width: 816px;
}

#right-editor-workspace{
  height: 768px;
  /* height: 734px; */
  /* width: 720px; */
  width: 600px;
  margin-top: 96px;
  font-family: 'Roboto Mono';
  color:  whitesmoke;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  

}
