:root {
  --sage: #D2CCA1;
  --paleSpringBud: #DEDABA;
  --goldCrayola: #ffffff;/*main*/
  --richBlackForeground: #181a1b;
  --white: #ffffff;
  --black: rgb(0, 0, 0);
  --msuGreen: #272620;/*main*/
  --gray: #eee;
  --leftblue:#2AB7CA;
  --lefbluedark:rgb(87, 77, 59);
  --topleftcats:#92bde7;
  --topleftcatsdark:#2F3338;
  --topcats:#FED766 ;
  --topcatsdark:#2F3338 ;
  --right: #e4e4e4;
  --rightdark: #2F3338;
}


.light-theme {

  --themeIconBorderColor: var(--sage);
  --mainBg: var(--goldCrayola);
  --fontColor: var(--black);
  --themeSwitchColor: var(--sage);
  --top:var(--leftblue);
  --topleftcast:var(--topleftcats);
  --topcatts:var(--topcats);
  --rightt:var(--right);
}

.dark-theme {

  --themeIconBorderColor: var(--richBlackForeground);
  --mainBg: var(--msuGreen);/*main*/
  --fontColor: var(--white);
  --themeSwitchColor: var(--msuGreen);
  --top:var(--lefbluedark);
  --topleftcast:var(--topleftcatsdark);
  --topcats:var(--topcatsdark);
  --right:var(--rightdark);
}



* {
  color: var(--fontColor);

}



.switch {
  margin-left:inherit;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content:space-evenly;

}



.switch div {
  position: relative;
  display: block;
  background: #c4e9fa;
  width: 50px;
  border-radius: 20px;
  padding: 1px 8px;
  box-sizing: border-box;
  cursor: pointer;

}

.fa-adjust {
  transform: rotate(25deg);

}

.switch input {
  display: none;
}

.slider {
  background-color: rgb(151, 138, 129);
  transition: 0.7s;
  border-radius: 50px;
  height: 12px;
  width: 12px;
  display: inline-block;
  position: relative;
  background-color: var(--themeSwitchColor);
}

input:checked + .slider {
  transform: translateX(20px);
}




body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #9bc7db;
}

body > div{
  margin: 5px;
}

#top{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  border: 5px solid;
  background-color: #3E7482;
  width: 100%;
  margin-left: 365px;
  top: 5px;
  background: var(--top);
}

#left{
  background-color:#3E7482;
  height: match-parent;
  width: 350px;
  background-color: transparent;


}

#right{
  display: flex;
  flex-grow: 5;
  border: 5px solid;
  justify-content: center;
  background-color:#05252F;
  height: 100%;
  width: 100px;
  background-color: var(--rightt);


}


.top-cats{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid;
  border-color: #363636 ;
  background-color:#ffffff;
  /* color: white; */
  width:200px;
  overflow: hidden;

}
.top-cats-buttons{

  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  text-align:center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 28px;
  cursor: pointer;
  background-color:#198881;
  background-color: var(--topcats);


}

.left-cats{
  background-color: #768a50 ;
  border: 3px solid;
  border-color: black;
  padding: 35px 55px;
  text-align: center;
  font-size: 16px;
  opacity: 0.85;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  margin-right: 0%;
  background: var(--topleftcast);

}
.left-cats-btn:hover {opacity: 1}
.left-cats-btn:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}


.right-editor{
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  height: 864px;
  width: 816px;
}

#right-editor-workspace{
  height: 768px;
  width: 600px;
  margin-top: 96px;
  font-family: 'Roboto Mono';
  color:  black;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -35%;
  width: 90%;
}

.sidebar ul  {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar li  {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .sidebar a {

    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
.btn{
  position: relative;
  top: 0px;
  left: 0px;
  height: 45px;
  width: 45px;
  text-align: center;
  margin: 5px;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}
.btn.click{
  position: relative;
  left: 350px;
  top:0px;
}
.btn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}

.btn.click span:before{
  content: '\f00d';
}

.sidebar{
  position: fixed;
  top: 5px;
  width: 350px;
  height: 200%;
  left: -350px;
  background: #1b1b1b;
  transition: left 0.4s ease;
}
.sidebar.show{
  top:5px;
  left:0px;
}
.sidebar .text{
  color: white;
  font-size: 25px;
  font-weight: 200;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  width: 350px;

}
nav ul{
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
  position: relative;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  padding-left: 20px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.active a{
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
  font-family: 'Poppins', sans-serif;
}
nav ul li a:hover{
  background: #1e1e1e;
}
nav ul ul{
  position: static;
  display: none;
}
nav ul .feat-show.show{
  display: block;
}
nav ul .serv-show.show1{
  display: block;
}
nav ul ul li{
  line-height: 42px;
  border-top: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
  font-family: 'Poppins', sans-serif;
}
nav ul li.active ul li a{
  color: #e6e6e6;
  background: #1e1e1e;
  border-left-color: transparent;
}
nav ul ul li a:hover{
  color: cyan!important;
  background: #113f46!important;
}
nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
